* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* header */

header {
  width: 100%;
}

/* nav superiore */
.top-nav {
  position: relative;
  padding: 40px;
  background-color: #f4f9fd;
  border-bottom: 1px solid black;
}

.left-nav {
  position: absolute;
  top: 50%;
  left:2%;
  transform: translateY(-50%);
}

.left-nav a {
  color: black;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
}

.select i {
  color: black;
  margin-right: 10px;
}
.right-nav i {
  color: #00a4bd;
  margin-right: 10px;
}
.right-nav {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

a.btn-login {
  color: #fe775a;
  border: 1px solid #fe775a;
  padding: 15px 20px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-orange {
  border: 1px solid transparent;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #fe775a;
  text-decoration: none;
  color: white;
}

/* nav inferiore */

.bottom-nav {
  position: relative;
  padding: 30px;
}

.logo {
  position: absolute;
  top: 50%;
  left:5%;
  transform: translateY(-50%);
}

.menu {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.select::after {
  content:'▾';
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
  padding-left: 15px;
}

/* inizio banner */
.banner {
  background-image: url(../img/jumbotron.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px;
  position: relative;
  background-color: #afebe4;
  border-bottom: 2px solid #33475b;
}

.banner-text {
  width: 50%;
  position: absolute;
  top: 10%;
  left: 5%;
  font-size: 25px;
  color: black;
  line-height: normal;
}
.banner-text p {
  margin-top: 15px;
}

.button-banner {
  position: absolute;
  top: 40%;
  left: 5%;
}

.subtitle p {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 20px;
}

/* main */

main {
  background-color: #f4f9fd;
}

.products {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

div.cubo {
  text-align: center;
}

.cubo img {
   max-width: 300px;
   margin-top: 40px;
}

div.products-text {
text-align: center;
font-size: 25px;
color: #33475b;
line-height: 150%;
}

.products-text p {
  margin-top: 20px;
}

.products-row {
  background-color: white;
  margin-top: 40px;
  padding: 50px;
  box-shadow: -1px 2px 6px 3px #b3aaae;
}

.row-left {
  float: left;
  width: 30%;
  text-align: center;
}
.row-left img {
  width: 150px;
}

 div.btn-learn {
  padding-top: 30px;
  text-align: center;
}

.row-right {
float: left;
width: 60%;
}

.row-right h2,
.row-right p {
  color: #33475b;
  line-height: 200%;
}

.feature {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #33475b;
}
.feature p {
  float: left;
  margin-top: 20px;
}

i {
  color: #fe775a;
}

.row-feature {
  float: left;
}
.row-feature ul,
.col-feature ul {
  list-style: none;
  margin-top: 20px;
  color: #33475b;
}

/* colonne */
.col-left,.col-middle,.col-right{
  width: 32%;
  height: 650px;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 50px;
  background-color: white;
  box-shadow: -1px 2px 6px 3px #b3aaae;
}
.col-middle {
  margin-left: 25px;
  margin-right: 25px;
}
.img-col {
  width: 150px;
  margin: 0 auto;
}

.text-col {
  text-align: center;
  margin-top: 20px;
  color: #33475b;
}
.text-col p {
  line-height: 200%;
  margin-top: 20px;
}

hr.col-hr {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  color: grey;
}

.col-feature {
  width: 80%;
  margin:0 auto;
}
.col-feature p {
  text-align: center;
}

/* sezione learn e grow */
.learn-background {
  height: auto;
  background-image: linear-gradient(to right, #00a4bc, #00bba7);
}
div.learn-background {
text-align: center;
padding: 80px 120px 80px 120px;
font-size: 25px;
color: white;
line-height: 150%;
}

.learn-background p {
  margin-top: 40px;
}

.box-container {
  width: 80%;
  margin: 0 auto;
  height: 380px;
  margin-top: 40px;

}

.box {
  float: left;
  height: 190px;
  width: 25%;
  border: 1px solid white;
  border-top: none;
}
.box h2 {
  margin-top: 20px;
}
.box p {
  margin-top: 20px;
  font-size: 20px;
}

img.box-logo {
  padding-top: 15px;
}

.box-1,.box-4,.box-5,.box-8 {
  border-left: none;
  border-right: none;
}
.box-5,.box-6,.box-7,.box-8 {
border-bottom: none;
}
.box-2,.box-6 {
  border-right: none;
}

/* sezione brand e customers */
.brand-container,
.get-started {
  width: 80%;
  margin: 0 auto;
  padding: 60px 120px 60px 120px;
}

.col-brand-1 {
  float: left;
  margin-left: 20px;
  width: 25%;
  color: #33475b;
}
.col-brand-1 h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.col-brand-1 p {
  font-size: 15px;
  line-height: 200%;
}

.col-brand-2 {
  float: right;
  width: 60%;
}
.brand-logo {
  float: left;
  width: 20%;
  margin: 10px;
}

.col-get-started {
  float: left;
  width: 50%;
  color: #33475b;
}
.col-get-started h2 {
  font-size: 35px;
  margin-bottom: 30px;
}
.col-get-started p {
  font-size: 15px;
  line-height: 200%;
}

.button-start {
  float: left;
  margin-top: 30px;
}

.free-tools {
  float: left;
  margin-top: 30px;
  font-size: 11px;
}

.woman img {
  float: right;
  width: 30%;
}

/* footer */
footer {
  width: 100%:auto;
  background-color: #32495b;
}

.footer-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
}

.list {
  display: inline-block;
  text-align: left;
  width: 20%;
  margin: 40px;
}
.list ul,
.list h3 {
  list-style: none;
  line-height: 300%;
  color: white;
}

.btn-grey {
  float: left;
  border: 1px solid transparent;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: #dadee0;
  text-decoration: none;
  color: #32495b;
}

.icone {
  float: left;
  margin-top: 20px;
}
i.grey {
  color: #dadee0;
}

.footer-bottom ul,
.footer-bottom li {
  display: inline-block;
  list-style: none;
  color: #dadee0;
  padding: 20px;
}

.copyright-logo {
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}
.copyright p {
  display: inline-block;
}

.policy ul,
.policy li {
  float: right;
  display: inline-block;
  list-style: none;
  color: #dadee0;
  padding: 20px;
}
